{# Adams spaghetti code #}
{% if package == "conda" %}
    conda install

    {% if os == "mac" %}
        {% if compute_platform == "cpu" %}
            pytorch{{ "-nightly" if build == "preview" }}::pytorch torchvision torchaudio
        {% else %}
            [[ERROR]]
                Mac does not support ROCm or CUDA!
            [[ERROR]]
        {% endif %}
    {% else %}
        pytorch torchvision torchaudio

        {% if compute_platform == "cu118" %}
            pytorch-cuda=11.8 -c nvidia
        {% elif compute_platform == "cu121" %}
            pytorch-cuda=12.1 -c nvidia
        {% elif compute_platform == "ro60" %}
            [[ERROR]]
                ROCm is currently not supported with conda on linux and not supported at all on windows!
            [[ERROR]]
        {% else %}
            cpuonly
        {% endif %}
    {% endif %}

    -c pytorch{{ "-nightly" if build == "preview" }}

{% elif package == "pip" %}
    pip3 install {{ "--pre" if build == "preview" }} torch torchvision torchaudio

    {% if os == "mac" %}
        {{ "[[ERROR]] Mac does not support ROCm or CUDA! [[ERROR]]" if compute_platform != "cpu" }}
        {% if build == "preview" %}
            --index-url https://download.pytorch.org/whl/nightly/cpu
        {% endif %}
    {% else %}

        {% if compute_platform == "cu118" %}
                --index-url https://download.pytorch.org/whl/{{ "nightly/" if build == "preview" }}cu118

        {% elif compute_platform == "cu121" %}
            {% if build == "preview" %}
                --index-url https://download.pytorch.org/whl/nightly/cu121
            {% else %}
                {% if os == "win" %}
                    --index-url https://download.pytorch.org/whl/cu121
                {% endif %}
            {% endif %}

        {% elif compute_platform == "ro60" %}
            {{ "[[ERROR]] Windows does not support ROCm! [[ERROR]]" if os != "linux" }}
            --index-url https://download.pytorch.org/whl/{{ "nightly/" if build == "preview" }}rocm6.0

        {# CPU #}
        {% else %}
            {% if build == "preview" %}
                --index-url https://download.pytorch.org/whl/nightly/cpu
            {% else %}
                {% if os == "linux" %}
                    --index-url https://download.pytorch.org/whl/cpu
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}